{% extends 'base.html' %}
{% load tailwind_filters %}

{% block title %}
    Entry    
{% endblock title %}

{% block contant %}
    <div class="max-w-lg mx-auto">
        <div class="py-5 border-t border-pink-800 mt-5">
            <a class="hover:text-pink-800 mt-3" href="#">
                Do you have an account?
            </a>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="w-full bg-pink-800 text-white rounded-md hover:bg-pink-800 px-3 py-1">
                Submit
            </button>
        </form>
        <div class="py-5 border-t border-pink-700 mt-5">
            <a href="" class="hover:text-pink-800 mt-3">
                Forgot password?
            </a>
        </div>
    </div>
{% endblock %}
