{% extends 'base.html' %}

{% block title %}
  Detail
{% endblock %}

{% block content %}
  <script src="https://cdn.tailwindcss.com"></script>
  <section class="text-gray-600 body-font">
    <style>
      body {
        background-color: #0B1858;
        background-repeat: no-repeat;
        background-size: 150%;
      }
    </style>
      <div class="container px-3 py-24 mx-auto">
          <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-left">
              <img class="max-w-full h-auto rounded-lg" src="{{new.img.url}}" alt="blog">
              <p class="leading-relaxed text-sky-100">
                  Постановщик фильма "007: Координаты "Скайфолл" сделал предположение о развитии "бондианы"
                  Сэм Мендес, снявший два из пяти фильмов "бондианы" с участием Дэниела Крэйга, вряд ли готов снять еще одну 
                  картину о Бонде, однако полагает, что постановщиком следующего фильма об агенте 007 должна быть женщина. Мендес,
                  продвигая свой новый проект "Империя света", вспомнил свой опыт работы в знаменитой шпионской франшизе, которая
                  после 25-го эпизода должна перезагрузиться с новым актером в роли агента с лицензией на убийство и постановщиком,
                  который представит его взыскательной фанбазе.<br><br>

                  "Я не думаю, что я им еще нужен. Это был невероятный проект в тот момент моей жизни; я и мечтать не мог о лучшем.
                  Я увидел мир по-другому", - в частности сказал режиссер о создании фильмов "007: Спектр" и "007: Координаты "Скайфолл",
                  особенно "Скайфолл".<br><br>

                  Снимать фильмы о Бонде, по его словам, было все равно что быть инженером в такой же степени, как и режиссером. "Это все равно,
                  что возводить строительные леса и строить целый мир... В каком-то смысле это даже утомительно, но по-другому".<br><br>

                  Но боевики эволюционируют, и использование компьютерной графики не стоит на месте, и, по словам Мендеса, Бонд тоже должен 
                  развиваться. Он сочувствует Барбаре Брокколи и Майклу Дж. Уилсону, "хранителям пламени Бонда". "Не позавидуешь тому, как Барбаре 
                  приходилось следить за пятью фильмами Дэниела. Он придал новый импульс франшизе, но франшиза настолько огромна, что молодому 
                  актеру очень трудно войти в нее".<br><br>

                  На вопрос, предлагали ли Мендесу пост режиссеру нового фильма о Бонде, он ответил, смеясь: "Позвольте мне перефразировать. Я
                  думаю, что актер, играющий Бонда, будет развиваться, режиссер должен развиваться. Я думаю, было бы здорово увидеть женщину 
                  в качестве режиссера "бондианы". Я думаю, это было бы замечательно".<br><br>
                  </p><br><br>
                  <a class="text-purple-600 inline-flex items-center md:mb-2 lg:mb-0" href="D:\news\news.html">Обратно<br>
                      <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M5 12h14"></path>
                        <path d="M12 5l7 7-7 7"></path>
                      </svg>
                    </a>
              <span class=" h-2 w-10 rounded bg-indigo-500 mt-5 mb-6"></span>
              <h2 class="text-white font-medium title-font tracking-wider text-sm">Властелин Колец</h2>
              <p class="text-sky-100">Python Developers</p>
      </div>
  </section>
{% endblock %}