{% extends 'base.html' %}

{% block title %}
    Post List
{% endblock %}


{% block content %}
        <div class="container py-6 bg-black">
            <div class="flex flex-wrap justify-center">
                {% for post in posts %}
                    <a href="{% url 'post:post_detail' post.pk %}">
                        <div class="flex relative mb-4 mx-1 w-64 h-96
                            scale-100 hover:scale-105 ease-in duration-300">
                            {% if post.img %}
                            <img alt="gallery" class="absolute inset-0 w-full h-full
                                object-cover object-center"
                                src="{{ post.img.url }}">
                            {% endif %}
                            <div class="px-8 py-10 relative z-10 w-full border-4
                                border-gray-200 bg-[#0f172a] opacity-0 
                                hover:opacity-100 ease-in duration-300">
                                <h2 class="tracking-widest text-sm title-font font-medium
                                    text-indigo-500 mb-1">{{post.title}}</h2>
                                <h1 class="title-font text-lg font-medium 
                                    text-orange-200 mb-3">{{post.rarting_stars}}</h1>
                                <p class="text-cyan-700 leading-relaxed">{{post.description | slice:':150'}}....</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
{% endblock %}